@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #808080;
  --color-light-gray: #dbdbdb;

  /* Font size */
  --font-large: 62px;
  --font-medium: 30px;
  --font-regular: 18px;
  --font-small: 15px;
  --font-micro: 12px;

  /* Font weight */
  --weight-extra-bold: 900;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-extra-light: 200;
  --weight-thin: 100;
}

* {
  box-sizing: border-box;
}

body {
  /* margin-top: 60px; */
  margin-left: 180px;
  background-color: var(--color-white);
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  z-index: 1;
}

.sidebar__items {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: 100vh;
}

.sidebar__item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--color-black);
  background-color: var(--color-white);
  transition: all 0.2s ease-out;
}

.sidebar__item:hover {
  background-color: var(--color-black);
}

.sidebar__item:hover .sidebar__title {
  color: var(--color-white);
}

.sidebar__title {
  color: var(--color-black);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: rotateZ(-90deg);
}

/* main */

/* home section */
.home__section {
  width: 100%;
  height: 100vh;
}

.home__img {
  width: 100%;
  height: 100%;
  background: url(img/helloworld.png) center / cover;
}

/* profile section */
.profile__section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile__itmes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 80px 100px;
}

/* profile title */
.profile__title h1 {
  -webkit-text-stroke: 1px var(--color-black);
  color: transparent;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.profile__title h1 > span {
  font-style: italic;
}

.profile__title h2 {
  color: var(--color-black);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 40px;
}

.profile__title h4 {
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
}

.profile__title h4 > span {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 40px;
  margin-left: 30px;
}

/* profile item */
.profile__item {
  display: flex;
}

.profile__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 25px;
  margin-bottom: 40px;
}

.profile__info:nth-child(1) {
  margin-right: 40px;
}

.profile__index {
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

.profile__description {
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

/* skill */
.skill {
  margin-bottom: 20px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill_description span {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.skill__bar {
  width: 100%;
  height: 12px;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--color-gray);
}

.skill__value {
  position: absolute;
  top: 2px;
  left: 0;
  height: 6px;
  border-radius: 10px;
  background-color: var(--color-black);
}

/* contact */
.contact__img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact__img img {
  width: 100%;
  height: auto;
}

/* works section */
.works__section {
  width: 100%;
  height: 60vh;
  padding: 80px 100px;
}

.works__title h1 {
  -webkit-text-stroke: 1px var(--color-black);
  color: transparent;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.works__title h2 {
  color: var(--color-black);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 40px;
}

.works__header {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1.5fr 2fr 0.5fr;
}

.works__items {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1.5fr 2fr 0.5fr;
}

.works__item {
  border-bottom: 1px solid var(--color-black);
  padding: 10px;
}

.works__header .works__item {
  color: var(--color-black);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.works__items .works__item {
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  letter-spacing: 1px;
}

.works__item a > i {
  font-size: var(--font-small);
  margin-right: 5px;
}

#store__button,
#chrome__button {
  cursor: pointer;
  transition: color 0.2s ease-out;
}

#store__button:hover,
#chrome__button:hover {
  color: var(--color-light-gray);
}

/* store section */
.store__section {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(img/store01copy.png) center / cover;
}

.website__items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 100px;
}

.website__text {
  display: flex;
  flex-direction: column;
}

.website__title h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.website__title span {
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

.website__title span > a > i {
  margin-left: 5px;
}

.website__text > span {
  color: var(--color-gray);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  letter-spacing: 0.5px;
  margin: 10px 0;
}

.website__item {
  margin-bottom: 40px;
}

.website__item h4,
.website__js h4 {
  color: var(--color-black);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  margin-bottom: 10px;
}

.website__item:nth-child(1) span {
  color: var(--color-gray);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  letter-spacing: 0.5px;
}

.website__colors {
  display: flex;
}

.website__colors div {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  margin-right: 10px;
}

.store__color:nth-child(1) {
  background-color: #050707;
}

.store__color:nth-child(2) {
  background-color: #808080;
}

.store__color:nth-child(3) {
  background-color: #d8dade;
}

.store__color:nth-child(4) {
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
}

.website__grid {
  width: 300px;
  display: grid;
  grid-template-columns: 0.6fr 2fr;
}

.website__header,
.website__content {
  display: flex;
  flex-direction: column;
}

/* pointer */
/* .pointer__background {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  opacity: 0.5;
  animation: pointer 1s infinite;
}

.pointer {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  transition: transform 0.3s ease-in-out;
}

.pointer__background:nth-child(2) {
  position: absolute;
  top: 280px;
  right: 300px;
}

.pointer:nth-child(3) {
  position: absolute;
  top: 285px;
  right: 305px;
}

.pointer__background:nth-child(5) {
  position: absolute;
  bottom: 250px;
  right: 500px;
}

.pointer:nth-child(6) {
  position: absolute;
  bottom: 255px;
  right: 505px;
}

.pointer__background:nth-child(8) {
  position: absolute;
  bottom: 385px;
  left: 425px;
}

.pointer:nth-child(9) {
  position: absolute;
  bottom: 390px;
  left: 430px;
}

.pointer:hover {
  transform: scale(1.3);
}

@keyframes pointer {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: none;
  }
  100% {
    transform: scale(1.3);
  }
}

.pointer__text {
  width: 220px;
  height: 120px;
  position: relative;
  display: none;
  background: linear-gradient(#fbfbfb, #cfcfcf);
  border-radius: 8px;
  box-shadow: 0px 2px 14px -7px rgba(0, 0, 0, 0.8);
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  letter-spacing: 0.5px;
  line-height: 18px;
  padding: 20px;
}

.pointer__text:nth-child(4) {
  position: absolute;
  top: 180px;
  right: 25px;
}

.pointer__text:nth-child(7) {
  position: absolute;
  bottom: 135px;
  right: 540px;
}

.pointer__text:nth-child(10) {
  position: absolute;
  bottom: 410px;
  left: 200px;
}

.pointer__icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border-radius: 0 8px 0 4px;
  background-color: #f9de4b;
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
}

.pointer__text.active {
  display: block;
} */

.store__mobile__section {
  width: 100%;
  height: 100vh;
  background: url(img/store02copy.png) center / cover;
}

/* chrome section */
.chrome__section {
  width: 100%;
  height: 100vh;
  background: url(img/chrome01.png) center / cover;
}

.chrome__color:nth-child(1) {
  background-color: #54b2cf;
}

.chrome__color:nth-child(2) {
  background-color: #5b4188;
}

.chrome__color:nth-child(3) {
  background-color: #eb707f;
}

.chrome__color:nth-child(4) {
  background-color: #fdce0b;
}

.website__js {
  display: flex;
  flex-direction: column;
}

.website__js span {
  color: var(--color-gray);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  letter-spacing: 0.5px;
  line-height: 18px;
}

/* footer */
.footer__section {
  width: 100%;
  height: 100vh;
  background: url("img/byeworld.png") center / cover;
}
