@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #808080;
  --color-light-gray: #dbdbdb;

  /* Font size */
  --font-large: 62px;
  --font-medium: 30px;
  --font-regular: 18px;
  --font-small: 15px;
  --font-micro: 12px;

  /* Font weight */
  --weight-extra-bold: 900;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-extra-light: 200;
  --weight-thin: 100;
}

* {
  box-sizing: border-box;
}

body {
  /* margin-top: 60px; */
  margin-left: 180px;
  background-color: var(--color-white);
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;

  z-index: 1;
}

.sidebar__items {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: 100vh;
}

.sidebar__item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--color-black);
  background-color: var(--color-white);
  transition: all 0.2s ease-out;
}

.sidebar__item:hover {
  background-color: var(--color-black);
}

.sidebar__item:hover .sidebar__title {
  color: var(--color-white);
}

.sidebar__title {
  color: var(--color-black);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  transform: rotateZ(-90deg);
}

/* main */

/* home section */
.home__section {
  width: 100%;
  height: 100vh;
}

.home__img {
  width: 100%;
  height: 100%;
  background: url(img/helloworld.png) center / cover;
}

/* profile section */
.profile__section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile__itmes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 80px 100px;
}

/* profile title */
.profile__title h1 {
  -webkit-text-stroke: 1px var(--color-black);
  color: transparent;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.profile__title h1 > span {
  font-style: italic;
}

.profile__title h2 {
  color: var(--color-black);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 40px;
}

.profile__title h4 {
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
}

.profile__title h4 > span {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 40px;
  margin-left: 30px;
}

/* profile item */
.profile__item {
  display: flex;
}

.profile__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 25px;
  margin-bottom: 40px;
}

.profile__info:nth-child(1) {
  margin-right: 40px;
}

.profile__index {
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

.profile__description {
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

/* skill */
.skill {
  margin-bottom: 20px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill_description span {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.skill__bar {
  width: 100%;
  height: 12px;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--color-gray);
}

.skill__value {
  position: absolute;
  top: 2px;
  left: 0;
  height: 6px;
  border-radius: 10px;
  background-color: var(--color-black);
}

/* contact */
.contact__img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact__img img {
  width: 100%;
  height: auto;
}
